<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h1>Today</h1>
    <% weekdays=["Sunday","Monday","Tuesday","Wednesday", "Thursday", "Friday", "Saturday"]%>
    <p>
      <!--The date is <%=weekdays[DateTime.now().wday]%>,<%=DateTime.now().month]%> <%=DateTime.now().day]%>, <%=DateTime.now().year]%>-->
    </p>
  </body>
</html>
